.pulse {
	animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

strong {
	font-size: 1.25rem;
}

.alert {
	width: 70%;
	position: absolute;
	top: 425px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 0;
}

.chatdisplay {
	border: solid gray 2px;
	overflow-y: auto;
	overflow-x: auto;
	height: 5rem;
}